/* Tailwind CSS directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 255, 255, 255;
  --header-rgb: 245, 245, 245;
  --footer-rgb: 54, 162, 118;
  --p-color-rbg: 0, 0, 0;
  --container-background-rgb: 250, 250, 250;
  --container-border-rgb: 54, 162, 118;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 255, 255, 255;
    --header-rgb: 255, 0, 0;
    --footer-rgb: 54, 162, 118;
    --p-color-rbg: 0, 0, 0;
    --container-background-rgb: 250, 250, 250;
    --container-border-rgb: 54, 162, 118;
  }
}

body {
  color: rgb(var(--p-color-rbg));
  background: rgb(var(--background-rgb));
  overflow: hidden;
}

.dashboard {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.sidebar {
  background: rgb(var(--footer-rgb));
  width: 20vw;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer {
  font-weight: lighter;
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.dash-component-container {
  width: 100%;
  gap: 20px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drop-down-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-card {
  display: flex;
  height: 100px;
  width: 70%;
  font-size: small;
  justify-content: center; 
  align-items: center;   
  margin-bottom: 20px;    
}

.price {
  font-size: xx-large;
}

.barchart-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: center;   
}

.barchart-component {
  max-width: 300px;
  flex: 1 1 auto;
}

p {
  text-align: center;
}

@media (max-width: 1000px) {
  .barchart-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .barchart-component {
    max-width: 300px;
  }
}
